.body {
    background-color: rgb(255, 255, 255);
    margin: 0vmax;
}

.header-container {
    background: linear-gradient(to bottom, #190c4a 5%, #00020a 95%);
    width: 99vmax;
    height: 15vmax;
    position: absolute;
    top:-0.5vmax;
    left: -0.5vmax;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
}

.logo {
    width: 8vmax;
    height: 8vmax;
    margin-left: 3vmax;
}

#titulo {
    font-size: 4vmax;
    color: white;
    font-family: serif;
    margin-left: 3vmax;
}

.Enca2 {
    font-size: 2.5vmax;
    margin-left: 8.5vmax;
    color: white;
}

.Enca5 {
    font-size: 2.5vmax;
    margin-left: 3vmax;
    color: white;
}

.Enca3 {
    font-size: 2.5vmax;
    margin-left: 3vmax;
    color: white;
}

.Enca4 {
    font-size: 2.5vmax;
    margin-left: 3vmax;
    color: white;
}

.SignIn {
    font-size: 1vmax;
    position: absolute;
    top:1vmax;
    right: 12vmax;
    color: white;
}

.SignUp {
    font-size: 1vmax;
    position: absolute;
    top:1vmax;
    right: 4vmax;
    color: white;
}

.lineavert {
    height: 1.5vmax;
    position: relative;
    top: 0.2vmax;
    left: 1.25vmax;
    color: rgba(255, 255, 255, 0.575);
}

.footer {
    position: relative;
    height: 10vmax;
    width: 98.5vmax;
    top: 75vmax;
    left: -0.6vmax;
    background: linear-gradient(to bottom, #190c4a 5%, #00020a 95%);
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;

}