body {
    background-color: rgb(255, 255, 255);
    margin: 0vmax;
    font-family: 'Oswald', sans-serif;
    height: 150vmax;

}

.header-container {
    background-color: black;
    width: 99.6vmax;
    height: 13vmax;
    position: absolute;
    top: -0.5vmax;
    left: -0.5vmax;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icon{
    width: 2vmax;
    margin-top: 1.8vmax;
    margin-left: 0.2vmax;
}

#icon2{
    width: 1.4vmax;
    margin-left: 0.5vmax;
    margin-top: 1.5vmax;
}

#icon3{
    width: 2.6vmax;
    margin-top: 2vmax;
    margin-left: 0.15vmax;
}

.lineavert {
    height: 1.5vmax;
    position: relative;
    top: 0.2vmax;
    left: 1.7vmax;
    color: rgba(255, 255, 255, 0.575);
}

.footer {
    position: relative;
    height: 10vmax;
    width: 98.5vmax;
    top: 75vmax;
    left: -0.6vmax;
    background: linear-gradient(to bottom, #190c4a 5%, #00020a 95%);
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

#productos {
    text-decoration: none;
    color: white;
    margin-left: 5vmax;
    font-size: 1.1vmax;
    position: relative;
    top: 1vmax;
}

#noticias{
    text-decoration: none;
    color: white;
    margin-left: 2.8vmax;
    font-size: 1.1vmax;
    position: relative;
    top: 1vmax;
}

#titulo{
    text-decoration: none;
    color: white;
    position: relative;
    left: 47.7vmax;
    font-size: 2.2vmax;
}

#conocenos{
    text-decoration: none;
    color: white;
    margin-left: 2.8vmax;
    font-size: 1.1vmax;
    position: relative;
    top: 1vmax;
}

#logo{
    height: 6vmax;
    width: 6.5vmax;
    margin-left: 15vmax;

}

#iconosign{
    background-color: rgb(12, 12, 12);
    border: solid 1px;
    border-color: white;
    width: 4vmax;
    border-radius: 0.6vmax;
    margin-left: 23vmax;

}

#iniciosesion{
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    position: relative;
    bottom: 1vmax;
    left: 36.4vmax;

}

#registrate{
    text-decoration: none;
    color: white;
    font-size: 0.9vmax;
    position: relative;
    bottom: 1vmax;
    left: 31.5vmax;
    top: 0.6vmax;
}

.imgbanner{
    height: 23vmax;
    margin-top: 20vmax;
    width: 98%;
    border-radius: 0.4vmax;
}

#cuadrogris{
    background-color: rgba(51, 51, 51, 0.6);
    height: 18vmax;
    width: 30vmax;
    position: absolute;
    top: 22.5vmax;
    left: 10vmax;
    text-align: center;
    border-radius: 1vmax;
}

#cuadrogris2{
    background-color: rgba(51, 51, 51, 0.6);
    height: 19vmax;
    width: 30vmax;
    position: absolute;
    top: 22.5vmax;
    right: 10vmax;
    text-align: center;
    border-radius: 1vmax;
}

#texto1{
    color: white;
    font-size: 2vmax;
    filter: opacity(1);
    margin-top: 2vmax;
    font-family: 'Roboto';

}

#texto2{
    color: white;
    margin-left: 3vmax;
    margin-right: 3vmax;
    text-align: start;
    font-size: 1vmax;
    filter: opacity(90%);
    font-family: 'Roboto';
    line-height: 1.4vmax;
    position: relative;
    bottom: 0.65vmax;

}

/* Pineapple 1 */

#pineaple1{
    position: relative;
    left: 25vmax;
    height: 16vmax;
    width: 16vmax;
    margin-top: 3vmax;
}

#figpineaple1{
    position: relative;
    right: 14vmax;
    margin-top: 1vmax;
    text-align: center;
    font-size: 1vmax;
}

#figpineaple2{
    position: relative;
    right: 14.5vmax;
    margin-top: 1vmax;
    text-align: center;
    margin-left: 40vmax;
    margin-right: 40vmax;
}

/* Pineapple 2 */

#pineaple2{
    position: relative;
    left: 50vmax;
    bottom: 30vmax;
    height: 19vmax;
    width: 19vmax;
}

#figpineaple3{
    position: relative;
    position: relative;
    bottom: 30vmax;
    margin-left: 26vmax;
    text-align: center;
    font-size: 1vmax;
}

#figpineaple4{
    position: relative;
    left: 12.7vmax;
    bottom: 29.3vmax;
    margin-left: 26vmax;
    text-align: center;
    margin-left: 40vmax;
    margin-right: 40vmax;
}

.segundoapartado{

    position: relative;
    bottom: 40vmax;

}

/* USBS */

#usb2{
    position: relative;
    top: 1.7vmax;
    left: 35.5vmax;
    height: 19vmax;
    width: 19vmax;
}

#figusb3{
    position: relative;
    bottom: 11.6vmax;
    margin-left: 24.4vmax;
    text-align: center;
    font-size: 1vmax;
}

#figusb4{
    position: relative;
    left: 12.3vmax;
    bottom: 10.6vmax;
    text-align: center;
    margin-left: 40vmax;
    margin-right: 40vmax;
}

#usb1{
    position: relative;
    left: 25vmax;
    height: 16vmax;
    width: 16vmax;
    margin-top: 3vmax;
}

#figusb1{
    position: relative;
    right: 14vmax;
    margin-top: 1vmax;
    text-align: center;
    font-size: 1vmax;
}

#figusb2{
    position: relative;
    right: 14.5vmax;
    margin-top: 1vmax;
    text-align: center;
    margin-left: 40vmax;
    margin-right: 40vmax;
}

#videoindex {
    position: relative;
    bottom: 44vmax;
    padding-bottom: 5vmax;
    display: flex;
    justify-content: center;
}


.video-container iframe {
    border-radius: 0.6vmax;
}

footer{
    background-color: black;
    height: 13vmax;
    position: relative;
    bottom: 40vmax;
    overflow: hidden;
}

#imgfooter{
    width: 8vmax;
    margin-top: 2.5vmax;
    margin-left: 6vmax;

}

#fohr1{
    height: 10vmax;
    border-color: black;
    position: relative;
    left: 5vmax;
    top: 1vmax;
    border-bottom: 0;
}

#infofooter{
    color: rgb(255, 255, 255);
    position: relative;
    left: 10vmax;
    bottom: 3.2vmax;
    font-size: 1.1vmax;

}

#fohr2{
    height: 10vmax;
    border-color: black;
    position: relative;
    left: 15vmax;
    top: 1vmax
}

#explorafooter{
    color: rgb(255, 255, 255);
    position: relative;
    left: 20vmax;
    bottom: 3.2vmax;
    font-size: 1.1vmax;

}

#fohr3{
    height: 10vmax;
    border-color: black;
    position: relative;
    left: 25vmax;
    top: 1vmax
}

#aboutfooter{
    color: rgb(255, 255, 255);
    position: relative;
    left: 34vmax;
    top: 1vmax;
    font-size: 1.1vmax;

}

#fohr4{
    height: 1.5vmax;
    border-color: black;
    position: relative;
    left: 35vmax;
    top: 1vmax
}

#text1footer{
    color: rgb(180, 180, 180);
    position: relative;
    left: 36vmax;
    top: 1vmax;
    font-size: 0.7vmax;
    width: 10vmax;
}

#textofot2{
    color: rgb(180, 180, 180);
    position: relative;
    left: 28vmax;
    bottom: 8vmax;
    font-size: 0.75vmax;

}

#textofot3{
    color: rgb(180, 180, 180);
    position: relative;
    left: 30vmax;
    bottom: 8vmax;
    font-size: 0.75vmax;

}

#textofot4{
    color: rgb(180, 180, 180);
    position: relative;
    left: 28vmax;
    bottom: 9vmax;
    font-size: 0.75vmax;
}

#textofot5{
    color: rgb(180, 180, 180);
    position: relative;
    left: 30vmax;
    bottom: 9vmax;
    font-size: 0.75vmax;
}