$body-bg: #ffffff;
$form-bg: #000000;
$blanco: #fff;

$color-principal: #6399bd;
$color-principal-light: lighten($color-principal, 5%);
$color-principal-dark: darken($color-principal, 5%);

$gris-light: #a0b3b0;
$gris: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 6px;

$fuente-principal: 'Oswald', sans-serif;
$fuente-secundaria: "Raleway", arial;


/* MISC */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $body-bg;
    font-family: $fuente-principal;
    height: 30vmax;

}

a {
    text-decoration: none;
    color: $color-principal;
    transition: .5s ease;

    &:hover {
        color: $color-principal-dark;
    }
}

ul {
    list-style-type: none;
}

/* HEADER */
#containerheader {
    display: flex;
    background-color: black;
    height: 22%;
    width: 100%;
    position: fixed;
    transition: height 0.3s ease;
    z-index: 1;
    justify-content: space-between;
    overflow: hidden;
}

#containerheader.scrolled {
    height: 17%;
}

#containerizq{
    display: flex;
    flex-direction: row;
    margin-left: 2vmax;
    width: 33vmax;
}

#containerproductos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75vmax;

}

.iconheader{
    width: 2vmax;
    margin-left: 0.5vmax;
}

.iconheader3{
    width: 2vmax;
    margin-left: 0.5vmax;
}

.iconheader2{
    width: 2.75vmax;
    margin-left: 0.5vmax;
}

.textoheader{
    color: white;
    font-size: 1vmax;
    margin-left: 1vmax;
}

.textoheader2{
    color: white;
    font-size: 1vmax;
    margin-left: 1vmax;
    margin-bottom: 0.25vmax;
    margin-top: 0.25vmax;
}

#containernoticias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75vmax;
}

#containercontacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioregistro{
    display: flex;
    flex-direction: column;
}

#containerder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vmax;
    margin-bottom: 3vmax;
    width: 32vmax;
    justify-content: flex-end;
}

#containermedio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32vmax;
    margin-top: 2.55vmax;
}

#logopagina{
    width: 7.25vmax;
}

#titulo{
    color: white;
    font-size: 1.55vmax;
    margin-top: 0;
}

#iconsign{
    border : 0.1vmax solid white;
    border-radius: 0.5vmax;
    width: 3.8vmax;
    height: 3.8vmax;
}

//login y registro

.contenedor-formularios {
    background: rgba($form-bg, .9);
    padding: 30px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 20px;
        background: rgba($gris-light, .25);
        color: $gris-light;
        font-size: 20px;
        float: left;
        width: 42%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;

        &:hover {
            background: $color-principal-dark;
            color: $blanco;
        }
    }

    .active a {
        background: $color-principal;
        color: $blanco;
    }
}

.contenido-tab>div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: $blanco;
    font-weight: $thin;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba($blanco, .5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;

    .req {
        margin: 2px;
        color: $color-principal;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}

label.highlight {
    color: $blanco;
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid $gris-light;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $blanco;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;

    &:focus {
        outline: none;
        border-color: $color-principal;
    }
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    div {
        float: left;
        width: 48%;
        margin-right: 4%;

        &:last-child {
            margin: 0;
        }
    }
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: $color-principal;
    color: $blanco;
    transition: all .5s ease;
    -webkit-appearance: none;

    &:hover,
    &:focus {
        background: $color-principal-dark;
    }
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.titulolog {
    font-size: 2.5vmax;
    color: #bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#central {
    max-width: 320px;
    width: 100%;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #050d12;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #8d8989;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #bbe1fa;

    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #92bedb;
    margin-bottom: 3px;
    font-size: 0.8vmax;
}

.inferior a:hover {
    color: #3282b8;
}

#spacer1 {
    height: 7rem;
}

#spacer2 {
    height: 1rem;
}

// BODY

/* BODY */

#centrarbody {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
    flex-direction: column;
}


.apartado1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30rem;
    width: 95%;
    background-image: url(Media/fotoPlaneta.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    align-items: center;
}

.apartado2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 30rem;
    width: 95%;
    background-image: url(Media/banner2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    align-items: center;
    justify-content: flex-end;
}

#cuadrogris {
    background-color: rgba(95, 95, 95, 0.6);
    height: 25rem;
    width: 35rem;
    border-radius: 0.75rem;
    margin-left: 6rem;
    text-align: center;
}

#cuadrogris2 {
    background-color: rgba(95, 95, 95, 0.6);
    height: 25rem;
    width: 35rem;
    border-radius: 0.75rem;
    margin-right: 6rem;
    text-align: center;
}


#texto1 {
    color: white;
    font-size: 50px;
    filter: opacity(1);
    margin-top: 40px;
    font-family: "Tahoma";
}

#texto2 {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    filter: opacity(90%);
    font-family: "Tahoma";
    line-height: 28px;
}

#articulos {
    display: flex;
    justify-content: center;
}

#imagenart {
    margin-top: 5rem;
    height: 15rem;
    width: 15rem;
}

#imagenart2 {
    margin-top: 5rem;
    height: 15rem;
    width: 15rem;
}

#textoarticulo1 {
    text-align: center;
}

#textoarticulo2 {
    text-align: center;
    width: 15rem;
}

#art1 {
    margin-right: 15rem;

}


#spacer1 {
    height: 7rem;
}

#videoindex {
    display: flex;
    justify-content: center;
}

#videocontainer iframe {
    border-radius: 0.6vmax;
    width: 90vmax;
}

// Footer

footer {
    background-color: black;
    height: 13vmax;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#footerizq{
    display: flex;
    align-items: center;
    margin-right: 7.5%;
    margin-left: 3%;
}

#logofooter{
    width: 10vmax;
}

#footermedio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footermedio1{
    border-left: white 0.1vmax solid;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vmax;
    padding-right: 5vmax;
    
}

#footermedio2{
    border-left: white 0.1vmax solid;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vmax;
    padding-right: 5vmax;
    text-align: center;
}

.titulofooter{
    color: white;
    font-size: 1.5vmax;
}

.textofooter{
    color: white;
    font-size: 0.75vmax;
    margin: 0;
    text-align: center;
    margin-bottom: 0.4vmax;
}

#footerder{
    display: flex;
    align-items: center;
    border-left: white 0.1vmax solid;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    gap: 0.75vmax;
    padding-left: 3vmax;
    margin-right: 1vmax;
}

.textofooter2{
    color: white;
    font-size: 0.75vmax;
    margin: 0;
    border-left: white 0.1vmax solid;
    padding-left: 0.75vmax;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;
}

// Productos

.prodapartado1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productos1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.tituloprod1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 2vmax;
    font-family: "Tahoma";
}

.lineaprod{
    border-top: 0.1vmax solid black;
    width: 85%;
}

.linea1prod{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10vmax;
    width: 100%;
}

.prod1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    text-align: center;
}

.textoprecio{
    margin-top: 0;
    color: red
}

// responsive

@media (max-width: 1520px){
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 70vmax;
        height: 40vmax;
    }
}

@media (max-width: 780px) {

    #footerizq{
        display: flex;
        align-items: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .titulofooter{
        text-align: center;
    }

    #containermedio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 32vmax;
        margin-top: 2.55vmax;
    }
    
    #logopagina{
        width: 10.25vmax;
    }
    
    #titulo{
        color: white;
        font-size: 2.75vmax;
        margin-top: 0;
    }
    
    #centrarbody {
        display: flex;
        justify-content: center;
        padding-top: 20rem;
        flex-direction: column;
    }
    
    
    .apartado1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 30rem;
        width: 95%;
        background-image: url(Media/fotoPlaneta.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .apartado2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 30rem;
        width: 95%;
        background-image: url(Media/banner2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    #cuadrogris {
        background-color: rgba(95, 95, 95, 0.6);
        height: 25rem;
        width: 35rem;
        border-radius: 0.75rem;
        text-align: center;
        margin-left: 0;
        
    }
    
    #cuadrogris2 {
        background-color: rgba(95, 95, 95, 0.6);
        height: 25rem;
        width: 35rem;
        border-radius: 0.75rem;
        text-align: center;
        margin-right: 0;
    }

    
    #texto1 {
        color: white;
        font-size: 50px;
        filter: opacity(1);
        margin-top: 40px;
        font-family: "Tahoma";
    }
    
    #texto2 {
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 20px;
        filter: opacity(90%);
        font-family: "Tahoma";
        line-height: 28px;
    }
    
    #articulos {
        display: flex;
        justify-content: center;
    }
    
    #imagenart {
        margin-top: 5rem;
        height: 10rem;
        width: 10rem;
    }
    
    #imagenart2 {
        margin-top: 5rem;
        height: 10rem;
        width: 10rem;
    }
    
    #textoarticulo1 {
        text-align: center;
    }
    
    #textoarticulo2 {
        text-align: center;
        width: 15rem;
    }
    
    #art1 {
        margin-right: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #art2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    #spacer1 {
        height: 7rem;
    }
    
    #videoindex {
        display: flex;
        justify-content: center;
    }
    
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 70vmax;
        height: 40vmax;
    }

}
@media (max-width: 625px) {

    #footerizq{
        display: flex;
        align-items: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    #containerproductos{
        flex-direction: column-reverse;
        justify-content: center;
    }

    #containernoticias{
        flex-direction: column-reverse;
        justify-content: center;
    }
    #containercontacto{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .iconheader{
        width: 4.5vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader3{
        width: 3.5vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader2{
        width: 5vmax;
        position: relative;
        top: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .textoheader{
        font-size: 1.5vmax;
    }

    #containerizq{
        gap: 2vmax;
    }

    
    #centrarbody {
        display: flex;
        justify-content: center;
        padding-top: 15rem;
        flex-direction: column;
    }
    
    .apartado1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 25rem;
        width: 85%;
        background-image: url(Media/fotoPlaneta.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .apartado2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 25rem;
        width: 85%;
        background-image: url(Media/banner2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    #cuadrogris {
        background-color: rgba(95, 95, 95, 0.6);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-left: 0;
        
    }
    
    #cuadrogris2 {
        background-color: rgba(95, 95, 95, 0.8);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-right: 0;
    }

    
    #texto1 {
        color: white;
        font-size: 25px;
        filter: opacity(1);
        margin-top: 40px;
        font-family: "Tahoma";
    }
    
    #texto2 {
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 13px;
        filter: opacity(90%);
        font-family: "Tahoma";
        line-height: 17px;
    }
    
    #articulos {
        display: flex;
        justify-content: center;
    }
    
    #imagenart {
        margin-top: 5rem;
        height: 7rem;
        width: 7rem;
    }
    
    #imagenart2 {
        margin-top: 5rem;
        height: 7rem;
        width: 7rem;
    }
    
    #textoarticulo1 {
        text-align: center;
    }
    
    #textoarticulo2 {
        text-align: center;
        width: 14rem;
    }
    
    #art1 {
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #art2 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #spacer1 {
        height: 7rem;
    }
    
    #videoindex {
        display: flex;
        justify-content: center;
    }
    
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 70vmax;
        height: 40vmax;
    }

}
@media (max-width: 560px){

    .contenedor-formularios {
        background: rgba($form-bg, .9);
        padding: 20px;
        max-width: 400px;
        margin: 40px auto;
        border-radius: $br;
        box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
    }
    .contenedor-tabs {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    
        li a {
            display: block;
            text-decoration: none;
            padding: 25px;
            background: rgba($gris-light, .25);
            color: $gris-light;
            font-size: 17px;
            float: left;
            width: 37%;
            text-align: center;
            cursor: pointer;
            transition: .5s ease;
    
            &:hover {
                background: $color-principal-dark;
                color: $blanco;
            }
        }
    
        .active a {
            background: $color-principal;
            color: $blanco;
        }
    }
    
    .contenido-tab>div:last-child {
        display: none;
    }
    #footermedio1{
        padding-left: 3vmax;
        padding-right: 3vmax;
        
    }
    
    #footermedio2{
        padding-left: 3vmax;
        padding-right: 3vmax;
    }

    .textofooter{
        font-size: 0.55vmax;
    }

    .textofooter2{
        font-size: 0.55vmax;
    }

    .titulofooter{
        font-size: 1vmax;
    }

    .iconheader{
        width: 3.5vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader3{
        width: 2.75vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader2{
        width: 4vmax;
        position: relative;
        top: 0.5vmax;
        margin-left: 1vmax;
    }

    .textoheader{
        font-size: 1.1vmax;
    }

    #containerizq{
        gap: 0.5vmax;
    }

}
@media (max-width: 550px) {

    #footermedio1{
        padding-left: 3vmax;
        padding-right: 3vmax;
        
    }
    
    #footermedio2{
        padding-left: 3vmax;
        padding-right: 3vmax;
    }

    .textofooter{
        font-size: 0.55vmax;
    }

    .textofooter2{
        font-size: 0.55vmax;
    }

    .titulofooter{
        font-size: 1vmax;
    }

    .iconheader{
        width: 3.5vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader3{
        width: 2.75vmax;
        margin-left: 0.5vmax;
        margin-left: 0.7vmax;
    }

    .iconheader2{
        width: 4vmax;
        position: relative;
        top: 0.5vmax;
        margin-left: 1vmax;
    }

    .textoheader{
        font-size: 1.1vmax;
    }

    #containerizq{
        gap: 0.5vmax;
    }

}

@media (max-width: 500px) {

    .textofooter2{
        font-size: 0.5vmax;
    }

    .iconheader{
        width: 3.5vmax;
        margin-left: 0.5vmax;
    }

    .iconheader2{
        width: 4vmax;
    }

    #containerizq{
        gap: 0vmax;
    }

    
    #centrarbody {
        display: flex;
        justify-content: center;
        padding-top: 15rem;
        flex-direction: column;
    }
    
    .apartado1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 25rem;
        width: 85%;
        background-image: url(Media/fotoPlaneta.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .apartado2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 25rem;
        width: 85%;
        background-image: url(Media/banner2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    #cuadrogris {
        background-color: rgba(95, 95, 95, 0.6);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-left: 0;
        
    }
    
    #cuadrogris2 {
        background-color: rgba(95, 95, 95, 0.8);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-right: 0;
    }

    
    #texto1 {
        color: white;
        font-size: 25px;
        filter: opacity(1);
        margin-top: 40px;
        font-family: "Tahoma";
    }
    
    #texto2 {
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 10.5px;
        filter: opacity(90%);
        font-family: "Tahoma";
        line-height: 17px;
    }
    
    #articulos {
        display: flex;
        justify-content: center;
    }
    
    #imagenart {
        margin-top: 5rem;
        height: 7rem;
        width: 7rem;
    }
    
    #imagenart2 {
        margin-top: 3rem;
        height: 7rem;
        width: 7rem;
    }
    
    #textoarticulo1 {
        text-align: center;
    }
    
    #textoarticulo2 {
        text-align: center;
        width: 10rem;
        font-size: 15px;
    }
    
    #art1 {
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #art2 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }
    
    #spacer1 {
        height: 7rem;
    }
    
    #videoindex {
        display: flex;
        justify-content: center;
    }
    
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 50vmax;
        height: 30vmax;
    }

}
@media (max-width: 430px) {
    
    #spacer1 {
        height: 4rem;
    }
    h1 {
        text-align: center;
        color: $blanco;
        font-weight: $thin;
        margin: 0 0 40px;
        font-size: 30px;
    }
    .contenedor-formularios {
        background: rgba($form-bg, .9);
        padding: 20px;
        max-width: 300px;
        margin: 40px auto;
        border-radius: $br;
        box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
    }
    .contenedor-tabs {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    
        li a {
            display: block;
            text-decoration: none;
            padding: 25px;
            background: rgba($gris-light, .25);
            color: $gris-light;
            font-size: 12px;
            float: left;
            width: 32%;
            text-align: center;
            cursor: pointer;
            transition: .5s ease;
    
            &:hover {
                background: $color-principal-dark;
                color: $blanco;
            }
        }
    
        .active a {
            background: $color-principal;
            color: $blanco;
        }
    }
    
    .contenido-tab>div:last-child {
        display: none;
    }
    #footermedio1{
        padding-left: 3vmax;
        padding-right: 3vmax;
        
    }
}
@media (max-width: 400px) {

    #logofooter{
        width: 7vmax;
    }

    #footerder{
        padding-left: 1vmax;
    }

    #footermedio1{
        padding-left: 2vmax;
        padding-right: 2vmax;
        
    }
    
    #footermedio2{
        padding-left: 2vmax;
        padding-right: 2vmax;
    }

    .textofooter{
        font-size: 0.5vmax;
    }

    .textofooter2{
        font-size: 0.5vmax;
    }

    .titulofooter{
        font-size: 1vmax;
    }

    .iconheader{
        width: 3.5vmax;
        margin-left: 0.5vmax;
    }

    .iconheader2{
        width: 4vmax;
    }

    #containerizq{
        gap: 0vmax;
    }

    
    #centrarbody {
        display: flex;
        justify-content: center;
        padding-top: 15rem;
        flex-direction: column;
    }
    
    .apartado1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 20rem;
        width: 85%;
        background-image: url(Media/fotoPlaneta.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .apartado2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 20rem;
        width: 85%;
        background-image: url(Media/banner2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    #cuadrogris {
        background-color: rgba(95, 95, 95, 0.6);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-left: 0;
        
    }
    
    #cuadrogris2 {
        background-color: rgba(95, 95, 95, 0.8);
        height: 11.5rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-right: 0;
    }

    
    #texto1 {
        color: white;
        font-size: 25px;
        filter: opacity(1);
        margin-top: 25px;
        font-family: "Tahoma";
        margin-bottom: 0;
    }
    
    #texto2 {
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 10.5px;
        filter: opacity(90%);
        font-family: "Tahoma";
        line-height: 17px;
    }
    
    #articulos {
        display: flex;
        justify-content: center;
    }
    
    #imagenart {
        margin-top: 5rem;
        height: 7rem;
        width: 7rem;
    }
    
    #imagenart2 {
        margin-top: 3rem;
        height: 7rem;
        width: 7rem;
    }
    
    #textoarticulo1 {
        text-align: center;
    }
    
    #textoarticulo2 {
        text-align: center;
        width: 10rem;
        font-size: 15px;
    }
    
    #art1 {
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #art2 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }
    
    #spacer1 {
        height: 7rem;
    }
    
    #videoindex {
        display: flex;
        justify-content: center;
    }
    
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 50vmax;
        height: 30vmax;
    }

}

@media (max-width: 353px) {

    #logofooter{
        width: 7vmax;
    }

    #footerder{
        padding-left: 1vmax;
    }

    #footermedio1{
        padding-left: 1vmax;
        padding-right: 1vmax;
        
    }
    
    #footermedio2{
        padding-left: 1vmax;
        padding-right: 1vmax;
    }

    .textofooter{
        font-size: 0.4vmax;
    }

    .textofooter2{
        font-size: 0.4vmax;
    }

    .titulofooter{
        font-size: 0.9vmax;
    }

    .iconheader{
        width: 3.5vmax;
        margin-left: 0.5vmax;
    }

    .iconheader2{
        width: 4vmax;
    }

    #containerizq{
        gap: 0vmax;
    }

    
    #centrarbody {
        display: flex;
        justify-content: center;
        padding-top: 15rem;
        flex-direction: column;
    }
    
    .apartado1 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 20rem;
        width: 85%;
        background-image: url(Media/fotoPlaneta.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    .apartado2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 20rem;
        width: 85%;
        background-image: url(Media/banner2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.75rem;
        align-items: center;
        justify-content: center;
    }
    
    #cuadrogris {
        background-color: rgba(95, 95, 95, 0.6);
        height: 15rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-left: 0;
        
    }
    
    #cuadrogris2 {
        background-color: rgba(95, 95, 95, 0.8);
        height: 11.5rem;
        width: 85%;
        border-radius: 0.75rem;
        text-align: center;
        margin-right: 0;
    }

    
    #texto1 {
        color: white;
        font-size: 20px;
        filter: opacity(1);
        margin-top: 25px;
        font-family: "Tahoma";
        margin-bottom: 20px;
    }
    
    #texto2 {
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 9px;
        filter: opacity(90%);
        font-family: "Tahoma";
        line-height: 15px;
    }
    
    #articulos {
        display: flex;
        justify-content: center;
    }
    
    #imagenart {
        margin-top: 5rem;
        height: 7rem;
        width: 7rem;
    }
    
    #imagenart2 {
        margin-top: 3rem;
        height: 7rem;
        width: 7rem;
    }
    
    #textoarticulo1 {
        text-align: center;
    }
    
    #textoarticulo2 {
        text-align: center;
        width: 10rem;
        font-size: 15px;
    }
    
    #art1 {
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    }
    
    #art2 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

    }
    
    #spacer1 {
        height: 7rem;
    }
    
    #videoindex {
        display: flex;
        justify-content: center;
    }
    
    #videocontainer iframe {
        border-radius: 0.6vmax;
        width: 50vmax;
        height: 30vmax;
    }

}

@media (max-height: 450px) {

    #logopagina{
        width: 6.5vmax;
    }

    #titulo{
        font-size: 1.25vmax;
        padding-bottom: 1.5vmax;
    }
}

@media (max-height: 450px) {

    #logopagina{
        width: 5.5vmax;
    }

    #titulo{
        font-size: 1.25vmax;
        padding-bottom: 1.25vmax;
    }
}

@media (max-height: 340px) {

    #logopagina{
        width: 5vmax;
    }

    #titulo{
        font-size: 1.25vmax;
        padding-bottom: 1.5vmax;
    }
}